*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
}
div{
    overflow: scroll;
    width: 50%;
}