*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(20, 50%, 98%);
  font-family: "Young Serif", serif;
  font-style: normal;
  font-size: 16px;
}
main{
    width: 80%;
    height: max-content;
    gap: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
}
#seccion1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    gap: 10px;
}
#Desserts{
    grid-column: 1/4;
}
#seccion1 img{
    width: 100%;
    height: 40%;
    border-radius: 10px;
}
#seccion2{
    background-color:white;
    height: max-content;
    border-radius: 10px;
    padding: 10px;
    
}
#seccion2 img, #seccion2 h5{
margin-left: 50%;
transform: translate(-50%);
}
.productosactivos button{
    background-color: rgb(223, 241, 252);
}
.productosactivos{
    height: max-content;
}
button{
    cursor: pointer;
}
.agregarproducto {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    border: solid black 1px;
  font-family: "Young Serif", serif;
  font-style: normal;
  font-weight: 400;
  transition: 0.5s ease all;
  position: relative;
}
.reducir_aumentar_cantidad button{
    width: 30%;
    border-radius: 50%;
    position: relative;
    background-color: transparent;
    border: 2px solid rgba(225, 225, 225, 0.5);
    font-size: 100%;
    color: white;

}

.reducir_aumentar_cantidad p{
    opacity: 1;
}
.reducir_aumentar_cantidad {
display: flex;
    color: white;
gap: 20%;
}
.agregarproducto:hover,.agregarproducto:focus {
    transition: 0.5s ease all;
    background-color: rgb(252, 236, 223);
    width: 80%;
}
.productosapartados{
display: flex;
flex-direction: column;
position: relative;
margin-top: 20px;
}
.productosapartados p *{
   margin-right: 10px;
}

.productosapartados button {
    position: absolute;
    border-radius: 50%;
    width: 5%;
    border: 1px solid grey;
    background-color: transparent;
    left: 100% ;
    top: 50%;
    transform: translate(-100%,-50%);
}
#pagototal div{
    flex-direction: row;
display: flex;
gap: 50%;
}

#pagototal aside{
    padding: 10px 15px 10px 15px;
    width: 90%;
    margin-left: 50%;
    text-align: center;
    transform: translate(-50%);
    background-color:rgb(252, 236, 223) ;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#pagototal aside img{
    margin-left: 0;
}
#pagototal button{
    background-color: hsl(14, 86%, 42%);
    color: white;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    width:80%;
    border-radius: 50px;
    border: none;
    padding: 10px;
    transition: 1s ease all ;
}
#div_pago_final{
    width: 50%;
    background-color: white;
    border-radius: 10px;
    height: max-content;
    position:absolute;
    padding: 20px;
    z-index: 999;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
}
#productosadquiridos{
height: 50%;
background-color: hsl(20, 50%, 98%);
border-radius: 10px;
overflow: scroll;
overflow-x: hidden;overflow-y: hidden;
padding: 20px;
}

#productosadquiridos:hover{
    overflow-y: scroll; 
}
#div_pago_final button{
    background-color:  hsl(14, 86%, 42%);
    width: 90%;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 50px;
    margin-left: 50%;
    transform: translate(-50%);
}
.divs_productos_compra_final{
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-bottom: 1px solid rgba(188, 188, 188, 0.8);
}.divs_productos_compra_final img{
width: 80%;
border-radius: 10px;
}
.divs_productos_compra_final span{
    display: flex;
    gap: 20px;
    color: brown;
}
.divs_productos_compra_final p{
    color: black;
}
.divs_productos_compra_final div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pagototal button:hover{
    transition: 1s ease all ;
    background-color: hsl(159, 69%, 38%);
}
#pagototal{
    margin-top: 20px;
}
#seccion2 h3, strong{
    color:  hsl(14, 86%, 42%);
}
.precio_total_producto{
    color: hsl(14, 86%, 42%);
}
#pagos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
#pagos h1{
    display: flex;
    align-items: end;
    justify-content: right;
}
#reiniciar_programa{
    margin-top: 15px;
}
h1{

  font-weight: 700;
}
b{
    
  font-weight: 600;
}
p{
    opacity: 0.4;
  font-weight: 200;
}
.productosapartados p{
    opacity: 0.8;
}

@media(max-width :700px){
    #seccion1{
        grid-template-columns: 1fr 1fr;
    }
    #seccion1 h1{
        grid-column: 1/3;
    }}

@media(max-width :375px){
#seccion1,main{
    grid-template-columns: 1fr;
}
#seccion1 h1{
    grid-column: 1/2;
}
main{
    width: 50vh;
}
#div_pago_final{
    width: 101%;
    height: 80%;  
    position: fixed;
    top: 25%; /* Mueve la parte superior del contenedor al centro verticalmente */
    left: 0%; /* Mueve la parte izquierda del contenedor al centro horizontalmente */
    padding: 20px;
    border: 1px solid black;
}}