*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
    
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
}
main{
    display: flex;
    flex-direction: row;
background-color:white;
width: 50%;
height: 40vh;
hyphens: auto; 
      overflow-wrap: break-word; 
border-radius: 20px;
position: relative;
}
#img-sala{
    width: 40%;
    border-radius: 20px 0px 0px 20px;
}
#container{
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}
#info-usuario{
    position: absolute;
    display: flex;
    height:15%;
    top: 70%;
    width: 100%;
}
#info-usuario img{
    border-radius: 50%;
}
#info-usuario button{
    cursor: pointer;
    position: absolute;
    left: 80%;
    border-radius: 50%;
    border: none;
    width: 10%;
    height: 100%;
}

#info-usuario p{
    position: absolute;
    left: 10%;
    top: 50%;
}
p{
    color: grey;
}
#redessociales{
    position: absolute;
    margin-left: 80%;
    margin-top: 15%;
    width: 30%;
    background-color: hsl(217, 19%, 35%);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
#redessociales img{
    
    z-index: 2;
    cursor: pointer;
}
#redessociales::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: hsl(217, 19%, 35%);
    z-index: 1;
    width: 10%;
    height: 30px;
    transform: rotate(-50grad) translate(-50%,-50%);
}

#redessociales *{
    margin-left: 10%;
}
  @media (max-width: 400px){
main{
    flex-direction: column;
    height: max-content;
}
main #img-sala{
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}
 }